{% extends 'boilerplate.html' %}

{% block content %}
<div>
    <form method="POST" action="">
       {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit"/>

    </form>



</div>



{% endblock content %}



<div class="form__group">
    <label for="room_topic">Topic</label>
    <input required type="text" name="topic" id="room_topic" list="topic-list" />
    <datalist id="topic-list">
      <select id="room_topic">
        <option value="">Select your topic</option>
        <option value="Python">Python</option>
        <option value="Django">Django</option>
      </select>
    </datalist>

  </div>


  <div class="form__group">
    <label for="room_about">About</label>
    <textarea name="room_about" id="room_about" placeholder="Write about your study group..."></textarea>
  </div>